#barracst{
    box-shadow: 0px 4px 40px rgba(67, 62, 218, 0.622);
    background-color: rgb(4, 1, 64);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: auto;
}
#cor3{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}
#menuplus{
    transition: transform 0.3s ease;
  }
  #menuplus:hover{
    transform: scale(1.08);
  }
#txtctt{
    font-size: 40px;
    text-decoration: underline;
  }
#numero{
    font-size: 30px
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
#fundo {
  background-color: #01112B;
  padding: 20px;
  border-radius: 25px;
}
.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.contato-info {
  margin: 10px 0;
}
#email {
  margin-bottom: 20px;
}
#fundotab{
  background-color: rgb(255, 255, 255);
}
#textob{
  color: #f2f2f2;
}
#textoarea{
  font-size: 20px;
}